@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');
.wrapper {
  width: 1920px;
  margin: auto;
}
* {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
/*section hero*/
.hero {
  background: url("../img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 1200px;
}
/* header */
.header {
  background-color: none;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  /*position: fixed;*/
  width: 100%;
  z-index: 3;
  /*width: 1720px;
  margin: 0 auto;
  padding-top: 90px;*/
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding: 0 24px;
}
.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #fff;
  }
.header li a:hover,
.header .menu-btn:hover {
  opacity: 0.5;
}
.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  background: none;
}
/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}
/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/*.header:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fec7bc;
}*/

/*
.btn-search {
  background: none;
  border: none;
  width: 25px;
  margin-right: 34px;
}
*/
.caption {
  text-align: center;
}
.caption h1 {
  font-family: 'Playfair Display', serif;
  color:  #fff;
  font-size: 140px;
  font-weight: 400;
  margin: 0;
  padding-top: 225px;
}
.caption p {
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}
.btn-group {
  margin-top: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 163px;
  padding: 0 30px;
  height: 46px;
  border-radius: 50px;
  border: none;
  background-color: #da7074;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 46px;
  position: relative;
}
.btn:after {
  content: '';
  position: absolute;
  top: 100px;
  left: 45%;
  width: 1px;
  height: 190px;
  background: #da7074;
  box-shadow: 10px 20px 0 #da7074;
} 
.line {
  content: '';
  height: 1px;
  background: #da7074;
  width: 140px;
}
.play-icon {
  margin-top: 310px;
}
/*section image-row*/
.image-row .gallery {
  height: 500px;
  width: 25%;
}
.image-row .img-1 {
  background-image: url(../img/dolor.jpg);
  float: left;
}
.image-row .img-2 {
  background-image: url(../img/ligula.jpg);
  float: left;
}
.image-row .img-3 {
  background-image: url(../img/consectetur.jpg);
  float: left;
}
.image-row .img-4 {
  background-image: url(../img/ullamcorper.jpg);
  float: left;
}
.image-row h4 {
font-size: 18px;
font-weight: 600;
line-height: 30px;
text-align: center;
margin: 321px 0 18px 0; 
}
.image-row p {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
line-height: 30px;
text-align: center;
margin-top: 0;
}
/*footer*/
.cols {
  height: 404px; 
  width: 1522px;
  margin: 0 auto;
}
.coll {
  float: left;
  width: 25%;
}
.coll h4 {
  color:  #141515;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.coll ul {
  padding-left: 0; 
}
.coll ul li {
  list-style-type: none;
  text-align: left;
}
.coll p,
.coll ul li  {
  font-family: Georgia, serif;
  color:  #565656;
  font-size: 14px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
}
.copyright {
  background-color: #000;
  height: 96px;
  clear: both;
}
.copyright p {
  font-family: Georgia, serif;
  color:  #ffffff;
  font-size: 12px;
  font-style: italic;
  line-height: 96px;
  text-align: center;
}
/*media max wodth 1850px*/
@media (max-width: 1850px) {
  .wrapper {
    width: 100%;
  }
/*  header {
    width: 100%;
  }
  .navigation {
    width: 90%;
  }*/
  .cols {
    width: 90%;
  }
}
/*media max wodth 1200px*/
@media (max-width: 1200px) {
  .coll {
    width: 20%;
  }
  .our-mission {
    width: 40%;
  }
}
/*media max width 962*/
@media (max-width: 962px) {
 .image-row .gallery {
    width: 50%;
  }
}
/*media min-width 768px*/
@media (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    margin: 0 auto;
    /*float: right;*/
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/*media max wodth 768px*/
@media (max-width: 768px) {
  .caption h1 {
    font-size: 100px;
  }
  .caption p {
    font-size: 16px;
  }
  .btn:after,
  .line {
    display: none;
  }
  .image-row .gallery {
    width: 50%;
  }
  .coll {
    width: calc(50% - 40px);
    margin: 20px;
  }
  .coll h4, 
  .coll p,
  .coll ul li {
    text-align: center;
  }
}
/*media max wodth 630px*/
@media (max-width: 630px) {
  .navigation {
    flex-direction: column;
  }
  .nav-item:nth-child(n) {
    margin: auto;
  }
  .nav-item:nth-child(1) {
    margin-left: 30px;
    width: 40px;
  }
  .nav-item:nth-child(3) {
    margin-top: -200px;
    margin-left: 75%;
  }
  .navigation ul li {
    display: block;
    margin: 30px auto;
  }
  .coll {
    width: 100%;
    margin: 20px 0;
  }
  .navigation:after {
    display: none;
  }
  .play-icon {
    margin-top: 200px;
  }
}
/*media max wodth 425px*/
@media (max-width: 425px) {
  .caption h1 {
    font-size: 60px;
  }
  .caption p {
    font-size: 14px;
  }
  .image-row .gallery {
    width: 100%;
  }
  .coll {
    width: 100%;
  }
}
