/*section hero*/
.hero {
  background: url("../img/hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 1200px;
}
.navigation {
  display: inline-block;
}
.navigation ul {
  text-align: center;
}
.navigation .menu-btn {
  /*text-align: right;*/
  float: right;
  /*width: 10%;*/
}
.navigation ul li {
  display: inline-block;
}
.navigation .nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.caption {
  text-align: center;
}
.caption h1 {
  font-family: PlayfairDisplay;
  color:  #fff;
  font-size: 140px;
  font-weight: 400;
  margin-bottom: 0;
}
.caption p {
  font-family: Montserrat;
  color:  #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}
.btn {
  width: 163px;
  height: 46px;
  border-radius: 50px;
  border: none;
  background-color: #da7074;
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}
.caption::after {
    content: "\00a0";
    display: block;
    border: none;
    border-bottom: 3px solid #da7074;
    width: 80px;
    left: 0;
    right: 0;
    margin: auto;
}